* {
  box-sizing: border-box;
}

body,
html {
  margin: 0;
  padding: 0;
}

select {
  height: 40px;
  width: 300px;
  padding: 6px;
  margin: 12px;
  background: transparent;
}

span {
  position: absolute;
  top: 12px;
  height: 40px;
  padding: 11px 0.5em;
  left: 180px;
  cursor: default;

  pointer-events: none;
}

div {
  margin: 1em;
}
