body {
    background: rgb(0, 0, 0);
    color: #fff;

}

.colored {
    color: rgb(31, 192, 80);
}

#newInput {
    display: flex;
    justify-content: space-between;
    width: 200px;
    flex-wrap: wrap;

    #input {
        width: 100%;

        // flex-wrap: true;
    }
}