.page {
}

.popBack {
	display: flex;
	width: 100%;
	min-height: 100%;
	background-color: rgba(0, 0, 0, 0.5);
	position: fixed;
	top: 0px;
	justify-content: center;
	pointer-events: none;
	opacity: 0;
	visibility: hidden;
}

#popup1:target {
	opacity: 1;
	visibility: visible;
}

.popBack .popUp {
	width: 100px;
	height: 100px;
	background-color: #fff;
	pointer-events: all;
}

.popArea {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	cursor: default;
}
